@page "/contactus"
@using CarsIsland.WebApp.Data
@inject EnquiryDataService EnquiryDataService

<h1>Contact us</h1>

<p>You can contact us using below form. We will answer immediately and try to help:</p>

<EditForm Model="@_contactFormModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <b>
        <p>Message title:</p>
    </b>
    <InputText id="title" @bind-Value="_contactFormModel.Title"/>
    <br/>
    <br/>
    <b>
        <p>Message content:</p>
    </b>
    <InputText id="messageContent" @bind-Value="_contactFormModel.Content"/>
    <br/>
    <br/>
    <b>
        <p>Contact email:</p>
    </b>
    <InputText id="contactEmail" @bind-Value="_contactFormModel.CustomerContactEmail"/>
    <br/>
    @* <br/> *@
    @* <InputFile OnChange="@HandleFileSelected"/> *@
    @* <br/> *@
    <br/>
    <p>File name: @_contactFormModel.AttachmentFileName</p>
    <br/>
    <br/>
    <button type="submit" class="btn btn-primary">Send</button>
    <br/>
    @if (_showConfirmation)
    {
        <p>
            <b>Thank you. We have received your enquiry and we will response as soon as possible</b>
        </p>
    }

</EditForm>

@code {

    private bool _showConfirmation;
    private readonly ContactFormModel _contactFormModel = new();

    private async Task HandleValidSubmit()
    {
        await EnquiryDataService.SendEnquiryAsync(_contactFormModel.AttachmentFileName, _contactFormModel);
        _contactFormModel.Title = string.Empty;
        _contactFormModel.Content = string.Empty;
        _contactFormModel.CustomerContactEmail = string.Empty;
        _showConfirmation = true;
    }
}